DB_USER=metrica
DB_PASSWORD=metrica
DB_NAME=metrica
SECRET_KEY=altere-esta-chave-em-producao
ADMIN_EMAIL=admin@tjrr.jus.br
ADMIN_PASSWORD=Admin@2026!
CORS_ORIGINS=http://localhost:3001,http://localhost:3000
ENV=development
ALLOWED_HOSTS=localhost,127.0.0.1,api,metrica_api
